# Core Python Packages
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.13.1

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.23.0

# Model Saving / Loading
joblib==1.4.2

# Streamlit Dashboard
streamlit==1.38.0

# Utility
tqdm==4.66.5
